@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  font-family: Roboto;
  padding: 0;
  margin: 0 auto;

  background-image: url($bg);
  background-position: top left;
  background-repeat: repeat-x;
}

.logo-big {
  display:none;
}

.logo-small {
  display:none;
}

/*

TOPIC NAVIAGATION

*/
.btn,
.list-controls .combo-box .combo-box-header {
  background: #e9edf2;
  border: none;
  color: #005289;
  font-weight: 600!important;
  font-size: 13px!important;
  text-transform: capitalize;
}

.nav-pills>li.active>a {
  background: #92d6b4;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
}

.nav-pills>li>a {
  color: #525b66;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
}

.nav-pills>li>a:hover {
  color: #214f38;
  background-color: rgba(#92d6b4, 0.6);
}

/*

END TOPIC NAVIGATION

*/

header.d-header .anon .title a {
  display: block;
  background-image: url($mini_logo);
  width: 200px;
  height: 50px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

header.d-header .title a {
  display: block;
  background-image: url($mini_logo2);
  width: 200px;
  height: 50px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

header.d-header {
  background-color: #FFF;
  padding: 10px 0;
}

header.d-header .header-buttons > button {
  background-color: #005289;
  border-radius: 5px;
  padding: 4px 15px;
}

header.d-header .header-buttons .login-button {
  position: relative;
  padding-left: 35px;
}

header.d-header .header-buttons .login-button:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 24px;
  left: 0px;
  top: 50%;
  margin-top:-12px;
  -webkit-mask: url($user) 10px center/18px 18px no-repeat;
  mask: url($user) 10px center/18px 18px no-repeat;
  background-color: #016AB1;
}

header.d-header .header-buttons .login-button:hover:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 24px;
  left: 0px;
  top: 50%;
  margin-top:-12px;
  -webkit-mask: url($user) 10px center/18px 18px no-repeat;
  mask: url($user) 10px center/18px 18px no-repeat;
  background-color: #1384d0;
}

body {
  font-family: Roboto;
  height: 100%;
}

body.static-login {
  font-family: Roboto;
  background: url($anonymous_banner) center bottom;
  background-size: cover;
  text-align: center;
  background-color: #FFF;
}

.static-login .container .ember-view {
  display: flex;
  justify-content: center;
}

.static-login .ember-application {
  height: 100%;
}

.static-login .ember-application div.ember-view:first-child {
  height: 100%;
}

.static-login #main-outlet {
  height: calc(100% - 82px);
}


.static-login #main-outlet section.container {
  height: 100%;
}

.static-login #main-outlet .body-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.static-login #main-outlet .body-page .login-required a {
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: #005289;
  letter-spacing: 0x;
  line-height: 82px;
}

.static-login #main-outlet .body-page .login-required p {
  margin: 15px 0;
  padding: 0;
  font-size: 24px;
  color: #454F5B;
  letter-spacing: 0;
  line-height: 30px;
}

.static-login #main-outlet .body-page button {
  transition: all 0.5s ease;
  background: #93d5b3;
  display: block;
  padding: 15px 40px;
  border-radius: 4px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.static-login #main-outlet .body-page button:hover {
  transition: all 0.5s ease;
  background: #fff;
  color: #93d5b3;
}

.static-login .login-button > svg {
  display: none;
}

.static-login #main-outlet .body-page .sign-up-button {
  display: none;
}

.topic-body {
  width: calc(690px + (11px * 2));
  float: left;
  position: relative;
  border-top: 1px solid #C4CDD5;
  padding: 12px 0 0 0;
}

.topic-avatar {
  border-top: 1px solid #C4CDD5;
  padding-top: 15px;
  width: 45px;
  float: left;
  z-index: 2;
}

.bullet .badge-category-bg {
  width: 9px;
  height: 9px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
}

.topic-map {
  background: #E9EDF2;
  border: 1px solid #e9e9e9;
  border-top-color: rgb(233, 233, 233);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: none;
}

.topic-map .buttons .btn {
  background: #E9EDF2;
  border-left: 1px solid #C4CDD5;
  border-top: 1px solid transparent;
}

#topic-footer-buttons .create {
  background: #92D6B4;
  padding-left: 35px;
  position: relative;
}

#topic-footer-buttons .create:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 24px;
  left: 0px;
  top: 50%;
  margin-top:-12px;
  -webkit-mask: url($forward) 10px center/18px 18px no-repeat;
  mask: url($forward) 10px center/18px 18px no-repeat;
  background-color: #fff;
}

#topic-footer-buttons .create > svg {
  display: none;
}

#topic-footer-buttons .create:hover {
  background: #59CB92;
}

#topic-footer-buttons .flag-topic {
  background: #E9EDF2;
  color: #005289;
  padding-left: 35px;
  position: relative;
}

#topic-footer-buttons .flag-topic > svg {
  display: none;
}

#topic-footer-buttons .flag-topic:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 50%;
  margin-top:-12px;
  -webkit-mask: url($flag) 10px center/18px 18px no-repeat;
  mask: url($flag) 10px center/18px 18px no-repeat;
  background-color: #005289;
}

#topic-footer-buttons .flag-topic:hover {
  background: #D5E3F1;
}

#topic-footer-buttons .share {
  background: #E9EDF2;
  color: #005289;
  padding-left: 35px;
  position: relative;
}

#topic-footer-buttons .share > svg {
  display: none;
}

#topic-footer-buttons .share:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 24px;
  left: 0px;
  top: 50%;
  margin-top:-12px;
  -webkit-mask: url($share) 10px center/18px 18px no-repeat;
  mask: url($share) 10px center/18px 18px no-repeat;
  background-color: #005289;
}

#topic-footer-buttons .share:hover {
  background: #D5E3F1;
}

#topic-footer-buttons .bookmark {
  background: #E9EDF2;
  color: #005289;
  padding-left: 35px;
  position: relative;
}

#topic-footer-buttons .bookmark > svg {
  display: none;
}

#topic-footer-buttons .bookmark:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 24px;
  left: 0px;
  top: 50%;
  margin-top:-12px;
  -webkit-mask: url($stroke) 10px center/18px 18px no-repeat;
  mask: url($stroke) 10px center/18px 18px no-repeat;
  background-color: #005289;
}

#topic-footer-buttons .bookmark:hover {
  background: #D5E3F1;
}

// Poll styles

.poll-container li {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0em 0.7em 0em 0.5em;
}

div.poll li[data-poll-option-id] {
  padding: 0em 0.7em 0em 0.5em;
}

div.poll .results .percentage {
  padding-top: 6px;
  font-size: 14px;
  color: #637381;
}

div.poll .results .bar {
  margin: 0 7px;
  border-radius: 7px;
  background: #92D6B4 !important;
  height: 12px;
}

.d-icon-far-dot-circle {
  padding-right: 7px;
  font-size: 24px;
  color: #005289;
}

.results li span:first-of-type {
  color: #454F5B;
  min-width: 20%;
}

.poll-container li span:first-of-type {
  color: #454F5B;
  min-width: 20%;
}

.d-icon-far-circle {
  padding-right: 7px;
  font-size: 24px;
  color: #919EAB;
}

.d-icon-far-check-square,
.d-icon-far-square {
  padding-right: 7px;
  font-size: 24px;
  color: #005289;
}

div.poll,
div.poll .poll-info {
  border: none;
}
